@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply leading-relaxed tracking-wider dark:bg-neutral-800 dark:text-gray-200;
  }
  a {
    @apply text-indigo-500 hover:text-indigo-600 active:text-indigo-700
      font-semibold transition duration-100;
  }
}

@layer components {
  .btn {
    @apply inline-block 
      disabled:bg-neutral-500
      focus-visible:ring 
      text-sm md:text-base font-semibold text-center
      rounded-lg outline-none transition duration-100 px-8 py-3;
  }

  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-600 active:bg-blue-700
      ring-blue-300 
      text-white disabled:text-gray-300;
  }

  .btn-danger {
    @apply bg-red-500 hover:bg-red-600 active:bg-red-700
      ring-red-300 
      text-white disabled:text-gray-300;
  }

  .btn-sm {
    @apply rounded px-2 pt-0 pb-1 font-normal leading-normal;
  }

  label[class~="form-label"] {
    @apply inline-block text-gray-800 dark:text-gray-200 text-sm sm:text-base mb-2;
  }

  input[type="text"][class~="form-control"] {
    @apply w-full 
      bg-gray-50 text-gray-800
      focus:ring ring-indigo-300
      border rounded outline-none transition duration-100 px-3 py-2;
  }

  input[type="radio"][class~="form-check-input"] {
    @apply w-6 h-6 text-blue-600 bg-gray-100 dark:bg-gray-700
      border-gray-300 dark:border-gray-600
      focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2;
  }

  label[class~="form-check-label"] {
    @apply text-sm font-medium text-gray-900 dark:text-gray-300;
  }

  .overlay {
    @apply absolute text-gray-900 bg-gray-500 bg-opacity-60 z-10 h-2/3 w-full flex items-center justify-center;
  }

  .spinner {
    @apply animate-spin h-10 w-10 border-4 border-blue-500 rounded-full border-t-transparent;
  }
}
